.container
  %h3 Edit #{@game.name}
  .row
    = render 'form'

  .row
    .col-md-offset-4
      .row-fluid
        = link_to 'Delete Game', creator_game_path(@creator, @game), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger", style: "width:37%;margin-left:35px;"
      .row-fluid{style:"margin-top:15px;"}
        = link_to 'Back', creator_game_path(@creator, @game), class: "btn btn-default", style: "width:37%;margin-left:35px;"
