.container
  %h3
    = t('views.creator_profile.new_game')
  .row
    = render 'form'

  .row
    .col-md-offset-4
      = link_to t('views.creator_profile.back_to_profile'), creator_path(@creator), class: "btn btn-default btn-new-game-back"
