.container
  .row.profile-info-user
    .ribbon.ribbon-blue.ribbon-large.ribbon-div
      .banner
        .text
          User
    .col-md-2
      = image_tag @user.avatar.url , class: "img-circle", :style => "width:140px;height:140px;"
    .col-md-8
      .row
        %h3 #{@user.name}
      .row
        .col-md-3
          -# %h4 #{@games.count} Badges
          %h4 4 Badges
        .col-md-5
          -# %h4 #{@games.count} Completed Rules
          %h4 20 Completed Rules
