.row
  %h2 All Creators
.row
  %table{class: "table table-hover table-condensed table-striped login-wrap"}
    %thead
      %tr
        %th Creator Name
        %th Number of Games
        %th
    - @creators.each do |creator|
      %tbody
        %tr
          %td
            = creator.name
          %td
            #{creator.games.count} Games
          %td= link_to 'Destroy', admin_creator_path(@admin, creator), :method => :delete, :data => { :confirm => 'Are you sure?' }

